
body{background-color: rgb(245, 239, 223);
    padding: 1%;}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .wrapper {column-count: 3;
    height: fit-content;
    box-sizing: border-box;
    
    margin-inline: auto;
    padding: 1rem;
  }
  
  .grid-container {
    display: grid;
    min-height: 60vh;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:0.5rem;
    margin-top: 0.5rem;
    gap: 0.5rem;
  }
  
.nav{text-align: center;}

  .grid-item {
    padding: 1rem;
    font-size: 2rem;
   
  }

  @media (max-width: 1200px) {
    .grid-container }

    {
      grid-template-columns: 1fr;
    }
    
    
    .left{
        border: double;
        margin: 5%;
        text-align: center;
    }
    
    .right{
        border: double;
        text-align: center;
        margin: 5%;
    }
    
    .nav{text-align: center;}
    
    .left {
      background-color: rgb(42, 184, 160);height:500px;
    }
    
    .right { height:500px;
      background-color: rgb(32, 126, 55);
    }
    
    #profession{color: rgb(29, 16, 207);}
    #web{color: rgb(219, 57, 28);}
    
    img{border: double;
        width:400px; height:500px;}
    
    
        
    
        .fa-linkedin {
            background: #007bb5;
            color: white;
          }
    
          .p{color: maroon;}
    
          .fa-linkedin {
            background: #007bb5;
            color: white;}
    
            .sk-skype {
                background: #00aff0;
                color: white;
              }
              
    
              .fa-skype {
                background: #00aff0;
                color: white;
              }

              .glow {
                font-size: 30px;
                color: #fff;
                text-align: center;
                animation: glow 1s ease-in-out infinite alternate;
              }
              
              @-webkit-keyframes glow {
                from {
                  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px hsl(216, 63%, 49%), 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
                }
                
                to {
                  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
                }
              }
    
              .footprint{color: rgb(150, 16, 45);}
           
  
  /* WRITE MEDIA QUERY BELOW */